<!-- ================================= -->
<!-- ROBOT BASE                        -->
<!-- ================================= -->

<a-cylinder
  id="robot-base"

  position="0 0.11 0"

  radius="0.32"

  height="0.22"

  color="#59636D"
></a-cylinder>


<!-- ================================= -->
<!-- BASE COLUMN                       -->
<!-- ================================= -->

<a-cylinder
  position="0 0.35 0"

  radius="0.20"

  height="0.30"

  color="#7B8791"
></a-cylinder>


<!-- ================================= -->
<!-- SHOULDER JOINT                    -->
<!-- ================================= -->

<a-entity
  id="shoulder-joint"

  position="0 0.55 0"

  rotation="0 0 -10"

  [attr.animation__pose]="
    'property: rotation;' +
    'to: ' + shoulderRotation + ';' +
    'dur: 900;' +
    'easing: easeInOutQuad'
  "
>


  <!-- SHOULDER -->

  <a-sphere
    radius="0.21"

    [attr.color]="stateColor"
  ></a-sphere>


  <!-- UPPER ARM -->

  <a-cylinder
    id="upper-arm"

    position="0 0.48 0"

    radius="0.11"

    height="0.85"

    color="#C3CBD2"
  ></a-cylinder>


  <!-- ================================= -->
  <!-- ELBOW                              -->
  <!-- ================================= -->

  <a-entity
    id="elbow-joint"

    position="0 0.92 0"

    rotation="0 0 -55"

    [attr.animation__pose]="
      'property: rotation;' +
      'to: ' + elbowRotation + ';' +
      'dur: 900;' +
      'easing: easeInOutQuad'
    "
  >


    <!-- ELBOW JOINT -->

    <a-sphere
      radius="0.18"

      [attr.color]="stateColor"
    ></a-sphere>


    <!-- FOREARM -->

    <a-cylinder
      id="forearm"

      position="0 0.42 0"

      radius="0.10"

      height="0.72"

      color="#C3CBD2"
    ></a-cylinder>


    <!-- ================================= -->
    <!-- WRIST                              -->
    <!-- ================================= -->

    <a-entity
      id="wrist-joint"

      position="0 0.80 0"

      rotation="0 0 65"

      [attr.animation__pose]="
        'property: rotation;' +
        'to: ' + wristRotation + ';' +
        'dur: 900;' +
        'easing: easeInOutQuad'
      "
    >


      <!-- WRIST JOINT -->

      <a-sphere
        radius="0.15"

        [attr.color]="stateColor"
      ></a-sphere>


      <!-- WRIST EXTENSION -->

      <a-cylinder
        position="0 0.22 0"

        radius="0.08"

        height="0.32"

        color="#AAB4BC"
      ></a-cylinder>


      <!-- ================================= -->
      <!-- END EFFECTOR                      -->
      <!-- ================================= -->

      <a-entity
        id="end-effector"

        position="0 0.42 0"
      >


        <!-- GRIPPER BODY -->

        <a-box
          width="0.27"

          height="0.14"

          depth="0.22"

          color="#303942"
        ></a-box>


        <!-- LEFT FINGER -->

        <a-box
          id="left-gripper-finger"

          position="-0.11 0.14 0"

          width="0.05"

          height="0.24"

          depth="0.08"

          color="#303942"

          [attr.animation__grip]="
            'property: position;' +
            'to: ' + leftFingerPosition + ';' +
            'dur: 250;' +
            'easing: easeInOutQuad'
          "
        ></a-box>


        <!-- RIGHT FINGER -->

        <a-box
          id="right-gripper-finger"

          position="0.11 0.14 0"

          width="0.05"

          height="0.24"

          depth="0.08"

          color="#303942"

          [attr.animation__grip]="
            'property: position;' +
            'to: ' + rightFingerPosition + ';' +
            'dur: 250;' +
            'easing: easeInOutQuad'
          "
        ></a-box>


      </a-entity>

    </a-entity>

  </a-entity>

</a-entity>